<%- include('partials/head', { title: 'projects | my portfolio' }) %>
<%- include('partials/nav') %>

<section class="section container">
  <h1 class="text-center mb-5">projects</h1>
  <div class="row g-4">

    <div class="col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img src="/images/proj1.png" class="card-img-top" alt="project 1">
        <div class="card-body">
          <h5 class="card-title">portfolio v1</h5>
          <p class="card-text">
            my first static site built with plain html and css, using the maroon theme.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4">
      <div class="card h-100 text-center">
        <img src="/images/proj2.png" class="card-img-top" alt="project 2">
        <div class="card-body">
          <h5 class="card-title">portfolio v2 (express)</h5>
          <p class="card-text">
            this version rebuilt with express + ejs + bootstrap while keeping the same feel.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<%- include('partials/footer') %>
